Builds
Assets/Plugins/Editor/ScriptInspector3/
Assets/Plugins/Editor/ScriptInspector3.meta
Temp/
Library/
obj/
ios_build
obj
Assembly-CSharp.sublime-workspace
Unity.sublime-workspace
.vs/
build

*.csproj
*.sln
*.suo
.DS_Store
*.userprefs
*.csproj
*.unityproj
*.pidb
*.sln
*.swp
